body {
    font-family: Arial;
    text-align: center;
    background-color: #f2f2f2;
    padding: 40px;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #0078ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
